p.dashed {border-style: dashed;}
  p {
  border-bottom:solid #0073cf;
  color: #FF865E;
  font-family: "Times New Roman", Times, serif;
  background-color: #101012;
  text-align: center;
  }
 
  body{
    background-color: #A2D2FF;
    }
  a{
    color: #FEE440;
    }
  h1{
    color: #CC4224;
  }
  img{
    float: left;
    border: 10px solid #BDEE9C;
    border-top: 10px solid #369F4D;
    border-bottom: 10px solid #4B2652;
    border-left: 10px solid #131116;
  }
  html{
  scroll-behavior: smooth; 
  cursor: url("/zombies/pb.ico"), default;
}

html::-webkit-scrollbar{
  width: 40px;
}
html::-webkit-scrollbar-thumb{
  background-image: url(pb.ico);
  width: 100px;
  height: 100px;
  }
html::-webkit-scrollbar-track{
  background-color:  #a6e7ff;
  border: 10px solid #5D6840;
  border-top: 10px solid #D4D5D8;
  border-bottom: 10px solid #D3AC3F;
  border-left: 10px solid #BD2837;
}

.container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

@media screen and (min-width: 601px) {
  div.example {
    font-size: 60px;
  }
}

@media screen and (max-width: 600px) {
  div.example {
    font-size: 30px;
  }
}
.dark-mode {
  background-color: black;
  color: white;
}
.dark-mode p{
background-color: black;
color: #F3D403;
}
.dark-mode h1{
  color: #2A75B3;
}
.dark-mode a{
  color: #266EF6;
}
.dark-mode img{
  border: 10px solid #8E9599;
  border-top: 10px solid #EBDEDB;
  border-bottom: 10px solid #752126;
  border-left: 10px solid #B13D4C;
}