p.dashed {border-style: dashed;}
  p {
  border-bottom:solid #786226;
  color: #152C52;
  font-family: "Times New Roman", Times, serif;
  background-color: #506756;
  text-align: center;}
  body{
    background-color: #96C8D6;
    }
  h1{
    Color: #E9ECF4;
    }
  a{
    color: #FF7402;
  }
  img{
    float: left;
    border: 10px solid #F9FD50;
    border-top: 10px solid #85EF47;
    border-bottom: 10px solid #00BD56;
    border-left: 10px solid #207DFF;
  }
    html::-webkit-scrollbar{
  width: 40px;
}
html::-webkit-scrollbar-thumb{
  background-color: #19191A;
  width: 100px;
  height: 100px;
}
html::-webkit-scrollbar-track{
  background-color:  #C17E4A;
  border: 10px solid #724A2A;
  border-top: 10px solid #AFAFAF;
  border-bottom: 10px solid #AF2626;
  border-left: 10px solid #090F1E;
}
html::-webkit-scrollbar-button{
  background-color: #3B88DC;
}

.container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}


@media screen and (min-width: 601px) {
  div.example {
    font-size: 60px;
  }
}

@media screen and (max-width: 600px) {
  div.example {
    font-size: 30px;
  }
}
.dark-mode {
  background-color: black;
  color: white;
}
.dark-mode p{
background-color: black;
color: #FF5D9E;
}
.dark-mode h1{
  color: #8F71FF;
}
.dark-mode a{
  color: #82ACFF;
}